# .coveragerc
[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */venv/*
    */Lib/*
    */site-packages/*
    manage.py
    */settings.py
    */wsgi.py
    */asgi.py
    */apps.py
    */admin.py
    obstetric_care/urls.py

[report]
precision = 2
skip_covered = False
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[xml]
output = coverage.xml

[html]
directory = htmlcov